<div class="dashboard-done-question">
  <%= render :partial => 'issue_card', :locals => { :issue => @issue } %>
  <div class="dashboard-done-question-content">
    <h3><%=l(:select_done_status)%></h3>
<% form_remote_tag(
      :url => { :action => :index },
      :update => "dashboard") do %>
<%= hidden_field_tag :issue, @issue.id.to_s %>
<%= select_tag :status, options_for_select(@done_statuses, '') %>
<%= select_tag :resolution, options_for_select(@done_resolved, '') if @done_resolved.any? %>
    <br />
    <br />
    <%= submit_tag l(:button_save) %> 
    <a href="#" onclick="<%= remote_function(
        :update => "dashboard",
        :url => { :action => :index }
      )%>"><%=l(:button_cancel)%></a>
<% end %>
  </div>
  <br style="clear: left;" />
</div>
