
<%= render :partial => 'filter_view' %>
<table id="dashboard" style="min-width: <%= @statuses.length*165 %>px">
  <thead id="dashboard-head">
    <tr>
<% @statuses.each do |status| %>
      <th class="dashboard-title" style="width: <%= 100.0/@statuses.length %>%"><%= status.name %></th>
<% end %>
    </tr>
  </thead>
  <tbody id="dashboard-body">
    <tr>
<% @statuses.each do |status| %>
<%= render :partial => 'dashboard_column', 
           :locals => {
             :status => status,
             :width => (100.0/@statuses.length),
              # TODO: Dirty is_closed? hack
             :issues => @issues.select { |i| status == i.status or (i.status.is_closed? and status.is_closed?) }
           } %>
<% end %>
    </tr>
  </tbody>
</table>
<!-- STATUS COLUMN SCRIPTS -->
<% @statuses.each do |status|
  if !status.is_closed? 
	%><%= drop_receiving_element('status-'+status.position.to_s,      # The id of the receiving element
      :accept => "dashboard-issue",                                 # The CSS class of the dropped element
      :hoverclass => 'dashboard-column-hovered',
      :onDrop => 'function(element, drop) { if(element.parentNode == drop) return; element.hide(); ' + remote_function(
        :update => "dashboard",
        :with   => "'issue=' + (element.id.split('-').last()) + '&status=' + (drop.id.split('-').last())",     # The query string parameters
        :url => { :action => :update}) + ' }'
      ) %><%
  else
    %><%= drop_receiving_element('status-done',                       # The id of the receiving element
      :accept => "dashboard-issue",                                 # The CSS class of the dropped element
      :hoverclass => 'dashboard-column-hovered',
      :onDrop => 'function(element, drop) { if(element.parentNode == drop) return; element.hide(); ' + remote_function(
        :update => "dashboard",
        :with   => "'status=done&issue=' + (element.id.split('-').last())",     # The query string parameters
        :url => { :action => :update}) + ' }'
      ) %><%
  end
end if @edit_enabled %>