<!--<div style="padding: 10px;">
	<%=@message unless @message.nil? %>
</div>-->
<div id="dashboard">
  <div id="dashboard-head">
<% @statuses.each do |status| %>
    <div class="dashboard-title-wrapper" style="width: <%= 100.0/@statuses.length %>%">
      <div class="dashboard-title"><%= status.name %></div>
    </div>
<% end %>
  </div>
  <div id="dashboard-body">
<% @statuses.each do |status| %>
    <div class="dashboard-column-wrapper" style="width: <%= 100.0/@statuses.length %>%">
      <div class="dashboard-column status-<%= status.position %>" id="status-<%= status.position %>">
        <div class="dashbord-column-title">
          <span>Issues</span>
        </div>
<% @issues.each do |issue| %>
<% if issue.status == status %>
        <div class="dashboard-issue" id="issue-<%= issue.id %>">
<%= render :partial => 'issue_card', :locals => {:issue => issue}  %>
        </div>
<%= draggable_element(
  "issue-"+issue.id.to_s, 
  :scroll => :window, 
  :revert => :true,
  :onEnd => 'hideItem'
)%>
<% end %>
<% end %>
      </div>
    </div>
<% end %>
<!-- STATUS COLUMN SCRIPTS -->
<% @statuses.each do |status| %>
<%= drop_receiving_element('status-'+status.position.to_s,      # The id of the receiving element
  :accept => "dashboard-issue",                                 # The CSS class of the dropped element
  :url    => {:action => :update_issue},                        # The action to call
  :hoverclass => 'dashboard-column-hovered',
  :onDrop => 'function(element, drop) { ' + remote_function(
    :update => "dashboard",
    :with   => "'issue=' + (element.id.split('-').last()) + '&status=' + (drop.id.split('-').last())",     # The query string parameters
    :url => { :action => :update_issue }) + ' }'
)%>
<% end %>
  </div>
</div>