<div class="dashboard-done-question">
	<%= render :partial => 'issue_card', :locals => { :issue => @issue } %>
	<div class="dashboard-done-question-content">
		<h3><%=l(:select_done_status)%></h3>
		<fieldset class="tabular">
<% form_remote_tag(
      :url => { :action => :index },
      :update => "dashboard") do %>
			<%= hidden_field_tag :issue, @issue.id.to_s %>
			<div class="splitcontentleft attributes">
				<p>
					<label for="status"><%=l(:field_status) %></label>
					<%= select_tag :status, options_for_select(@done_statuses, '') %>
				</p>
<% if @done_resolved.any? %>
				<p>
					<label for="resolution"><%=l(:field_resolution) %></label>
					<%= select_tag :resolution, options_for_select(@done_resolved, '') %>
				</p>
<% end -%>
			</div>
			<div class="splitcontentright attributes">
				<p>
					<label for="done_ratio"><%=l(:field_done_ratio) %></label>
					<%= select_tag :done_ratio, options_for_select(((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }), 100) %>
				</p>
			</div>
			<br style="clear: both;" />
			<div class="attributes">
				<p>
					<label for="notes"><%=l(:field_notes) %></label>
					<textarea name="notes" style="width: 90%; height: 60px;"></textarea>
				</p>
				<p>
					<%= submit_tag l(:button_save) %> 
					<a href="#" onclick="<%= remote_function(
										        :update => "dashboard",
										        :url => { :action => :index }
										      )%>"><%=l(:button_cancel)%></a>
				</p>
			</div>
<% end %>
    </fieldset>
  </div>
  <br style="clear: left;" />
</div>
