<% if not @message.nil? -%>
<p class="dashboard-error">
	<%=h @message %>
</p>
<% end -%>
<%= render :partial => 'filter_view' %>

<table id="dashboard-table" style="min-width: <%= @dashboard.columns.length*165 %>px">
  <thead>
    <tr>
<% @dashboard.columns.each do |column| -%>
<% if @options[:hide_done] -%>
<% if column.id == 'status-done' -%>
		<th style="width: 10%"><%=h column.title %></th>
<% else -%>
      <th style="width: <%= 90.0/(@dashboard.columns.length-1) %>%"><%=h column.title %></th>
<% end -%>
<% else -%>
      <th style="width: <%= 100.0/@dashboard.columns.length %>%"><%=h column.title %></th>
<% end -%>
<% end -%>
    </tr>
  </thead>
  <tbody>
<% @dashboard.groups.each do |group| -%>
<% # TODO: Dirty empty group check
   if @issues.select{|issue| group.accept?(issue)}.length > 0 -%>
<% if @dashboard.groups.length > 1 -%>
    <tr class="dashboard-<%= group.id %>">
      <th colspan="<%= @dashboard.columns.length %>">
        <span><%= h(group.title) %></span>
      </th>
    </tr>
<% end -%>
    <tr class="dashboard-<%= group.id %>">
<% @dashboard.columns.each do |column| -%>
<%= render :partial => 'dashboard_column', 
           :locals => {
             :column => column,
             :group => group,
             :width => (100.0/@dashboard.columns.length),
             :issues => @issues.select { |issue| group.accept?(issue) && column.accept?(issue) }
           } %>
<% end -%>
    </tr>
<% end -%>
<% end -%>
  </tbody>
</table>

<% javascript_tag do -%>
<% @dashboard.groups.each do |group| -%>
<% @dashboard.columns.each do |column| -%>
<% if @issues.select{|issue| group.accept?(issue)}.length > 0 -%>
<%= drop_receiving_element_js('drop-'+group.id+'-'+column.id, 
         :accept => 'drag-'+group.id, 
         :hoverclass => 'dashboard-column-hovered', 
         :onDrop => 'function(element, drop) { if(element.parentNode == drop) return; element.hide(); ' + 
           remote_function(
             :update => "dashboard", 
             :with   => "'issue=' + (element.id.split('-').last()) + '&"+column.params.to_query+'&'+group.params.to_query+"'", 
             :url => { :action => :index }
           ) + ' }'
       ) -%>
<% end %>
<% end -%>
<% end -%>
<% end -%>