      <td class="<%=column.id%>" id="<%='drop-'+group.id+'-'+column.id%>">
<% if issues.length > 0 -%>
        <div class="dashboard-count">
          <span><%= l(:label_x_issues, :count => issues.length) %></span>
        </div>
<% end -%>
<% issues.each do |issue| %>
        <div class="dashboard-issue drag-<%=group.id%> hascontextmenu" id="issue-<%=issue.id%>">
<%= render :partial => DashboardController::VIEW_MODES[@view], 
           :locals => {
           :issue => issue
    } %>
        </div>
<%= draggable_element(
      "issue-"+issue.id.to_s, 
      :scroll => :window, 
      :revert => :true
    ) if @edit_enabled -%>
<% end -%>
      </td>