<!--<div style="padding: 10px;">
	<%=@message unless @message.nil? %>
</div>-->
<div id="dashboard" style="min-width: <%=@statuses.length*165 %>px">
  <div id="dashboard-head">
<% @statuses.each do |status| %>
    <div class="dashboard-title-wrapper" style="width: <%= 100.0/@statuses.length %>%">
      <div class="dashboard-title"><%= status.name %></div>
    </div>
<% end %>
  </div>
  <div id="dashboard-body">
<% @statuses.each do |status| %>
<%= render :partial => 'dashboard_column', :locals => {:status => status} %>
<% end %>
<!-- STATUS COLUMN SCRIPTS -->
<% @statuses.each do |status| %>
<%= drop_receiving_element('status-'+status.position.to_s,      # The id of the receiving element
  :accept => "dashboard-issue",                                 # The CSS class of the dropped element
  :url    => {:action => :update_issue},                        # The action to call
  :hoverclass => 'dashboard-column-hovered',
  :onDrop => 'function(element, drop) { if(element.parentNode == drop) return; element.hide(); ' + remote_function(
    :update => "dashboard",
    :with   => "'issue=' + (element.id.split('-').last()) + '&status=' + (drop.id.split('-').last())",     # The query string parameters
    :url => { :action => :update_issue }) + ' }'
)%>
<% end %>
  </div>
</div>