
<% content_tag :div, :class => 'dashboard-column-wrapper', :style => width.is_a?(String) ? width : ('width: '+width.to_i.to_s+'%') do %>
  <div class="dashboard-column status-<%= status.id.nil? ? 'done' : status.id  %>" id="status-<%= status.id.nil? ? 'done' : status.id %>">
    <div class="dashboard-column-title">
      <span><%= pluralize(issues.length, 'Issue') %></span>
    </div>
<% issues.each do |issue| %>
    <div class="dashboard-issue" id="issue-<%= issue.id %>">
<%= render :partial => (@view == :card) ? 'issue_card' : 'issue_item', 
           :locals => {
             :issue => issue
           } %>
    </div>
<%= draggable_element(
      "issue-"+issue.id.to_s, 
      :scroll => :window, 
      :revert => :true
    ) if @edit_enabled %>
<% end %>
    <br style="clear: left;" />
  </div>
<% end %>