<div class="dashboard-filter">
<% if !@message.nil? %>
  <div class="dashboard-message"><%= @message %></div>
<% end %>
  <span class="dashboard-filter-options">
  <a href="#" onclick="<%= remote_function(
        :update => "dashboard",
        :url => { :action => :update }
  )%>">Update</a> | 
<%= select_tag :tracker, 
      options_for_select([['All Trackers', 'all']] + @filter_trackers,
        @tracker.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'tracker=' + value",
    :url => { :action => :update })
%>
<%= select_tag :version, 
      options_for_select([['All Versions', 'all'], ['Unassigned', '0']] + @filter_versions,
        @version.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'version=' + value",
    :url => { :action => :update })
%>
<%= select_tag :owner, 
      options_for_select(
        [['My Issues', 'me'], ['All Issues', 'all']],
        @owner.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'owner=' + value",
    :url => { :action => :update })
%>
  </span>
  <span class="dashboard-filter-view">
<%= select_tag :view, 
      options_for_select(
        [['Card View', 'card'], ['List View', 'list']],
        @view.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'view=' + value",
    :url => { :action => :update })
%>
  </span>
</div>
