<div class="dashboard-filter">
<% form_remote_tag :action => 'index' do %>
<% if !@message.nil? %>
  <div class="dashboard-message"><%= @message %></div>
<%end%>
  <span class="dashboard-filter-options">
<%= select_tag :tracker, 
      options_for_select([[l(:all_trackers), 'all']] + @filter_trackers,
        @tracker.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'tracker=' + value",
    :url => { :action => :index })
%>
<%= select_tag :version, 
      options_for_select([[l(:all_versions), 'all'], [l(:unassigned), '0']] + @filter_versions,
        @version.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'version=' + value",
    :url => { :action => :index })
%>
<%= select_tag :owner, 
      options_for_select(
        [[l(:my_issues), 'me'], [l(:all_issues), 'all']],
        @owner.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'owner=' + value",
    :url => { :action => :index })
%>
  </span>
  <span class="dashboard-filter-view">
<%= select_tag :view, 
      options_for_select(
        [[l(:card_view), 'card'], [l(:list_view), 'list']],
        @view.to_s
      ),
      :onchange => remote_function(
    :update => "dashboard",
    :with   => "'view=' + value",
    :url => { :action => :index })
%>
  </span>
  <span class="dashboard-filter-submit">
    <input type="submit" value="Update" />
  </span>
<%end%>
</div>
