<span id="dashboard-refresh">
  <%= link_to taskboard_path, :data => { :dashboard => :async }, :class => "inactive dashboard-reload" do %>
    <%= image_tag 'reload.png' %>
  <% end %>
</span>
<span id="dashboard-type">
  <span class="dashboard-menu">
    <h2><a href="#" class="dashboard-menu-link"><%= @board.name %></a></h2>
    <span class="dashboard-menu-container">
      <ul>
        <li><%= link_to t(:dashboard_taskboard), taskboard_path %></li>
        <li><%= link_to t(:dashboard_planboard), planboard_path %></li>
      </ul>
    </span>
  </span>
</span>
