<!-- ISSUE ITEM -->
<div class="dashboard-item">
  <div class="dashboard-issue-priority status-<%= issue.status.id %> priority-<%= issue.priority.position %>">
    <div class="dashboard-item-progress">
      <div class="dashboard-item-progress-bar" style="width: <%= issue.done_ratio %>%;">
      </div>
    </div>
    <div class="dashboard-item-header">
      <span class="dashboard-item-title">
        <%= link_to "#{@project_abbr}#{issue.id}", issue_path(issue) %>
      </span>
      <span class="dashboard-item-property dashboard-item-tracker"><%= issue.tracker %></span>
    </div>
    <div class="dashboard-item-content">
      <span class="dashboard-item-property dashboard-item-subject"><%= issue.subject %></span>
    </div>
  </div>
</div>
