<!-- ISSUE CARD -->
<div class="dashboard-card">
  <div class="dashboard-issue-priority dashboard-status-<%= issue.status.id %> dashboard-priority-<%= issue.priority.position %>">
    <div class="dashboard-card-header">
      <span class="dashboard-card-title">
        <%= link_to "#{@project_abbr}#{issue.id}", issue_path(issue) %>
      </span>
<% if issue.done_ratio.between?(1,99) -%>
      <span class="dashboard-card-progress-percent"><%= issue.done_ratio %>%</span>
<% end -%>
    </div>
    <div class="dashboard-card-progress">
      <div class="dashboard-card-progress-bar" style="width: <%= issue.done_ratio %>%;">
      </div>
    </div>
    <div class="dashboard-card-content">
      <span class="dashboard-card-property dashboard-card-tracker"><%=h issue.tracker %></span>
<% if !issue.fixed_version.nil? -%>
      <span class="dashboard-card-property dashboard-card-version"><%=h issue.fixed_version %></span>
<% end -%>
      <span class="dashboard-card-property dashboard-card-subject"><%=h issue.subject %></span>
<% if !issue.category.nil? -%>
      <span class="dashboard-card-property dashboard-card-category"><%=h issue.category.name %></span>
<% end -%>
<% if !issue.assigned_to.nil? -%>
      <span class="dashboard-card-property dashboard-card-assignee"><%=h issue.assigned_to.name %></span>
<% end -%>
    </div>
  </div>
</div>
<!-- ISSUE CARD END -->