<div id="dashboard-header">
  <%= render :partial => 'header' %>
  <%= render :partial => 'taskboard_header' %>
</div>
<div id="dashboard">
  <table id="dashboard-taskboard">
    <thead>
      <tr>
        <%= render :partial => 'taskboard_column_headers' %>
      </tr>
    </thead>
    <tbody>
      <% @board.groups.each do |id, group| -%>
        <% if not @board.compact? or group.issues.any? -%>
          <% if @board.groups.length > 1 -%>
            <tr class="dashboard-group-header dashboard-group-<%= group.id %>">
              <th colspan="<%= @board.columns.length %>">
                <span><%= h(group.title) %></span>
              </th>
            </tr>
          <% end -%>
          <%= render :partial => 'taskboard_group', :locals => {
            :group => group, :issues => group.issues, :parent_issues => group.parent_issues, :row_id => group.id } %>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
