<% if parent_issues.any? %>
  <% parent_issues.each do |issue| %>
    <tr class="dashboard-parents">
      <td colspan="<%= @board.columns.length %>">
        <%= render :partial => 'issue_parent', :locals => { :issue => issue, :group => group } %>
      </td>
    </tr>
  <% end %>
  <% if issues.any? %>
    <tr class="dashboard-parents-end">
      <td colspan="<%= @board.columns.length %>">
        <span><%= t(:dashboard_other_issues, :count => issues.length).html_safe %></span>
      </td>
    </tr>
  <% end %>
<% end %>
<% if issues.any? %>
  <tr class="dashboard-group dashboard-group-<%= group.id %>">
    <%= render :partial => 'taskboard_row',
               :locals => { :issues => issues, :group => group, :row_id => row_id } %>
  </tr>
<% end %>
