<% @board.columns.each do |id, column| -%>
  <% if @board.options[:hide_done] -%>
    <% if column.id == :'status-done' -%>
      <th style="width: 10%"><span><%=h column.title %></span></th>
    <% else -%>
      <th style="width: <%= 90.0/(@board.columns.length-1) %>%"><span><%=h column.title %></span></th>
    <% end -%>
  <% else -%>
    <th style="width: <%= 100.0/@board.columns.length %>%"><span><%=h column.title %></span></th>
  <% end -%>
<% end -%>
