<td class="dashboard-<%=column.id%>" id="<%='drop-'+group.id+'-'+column.id%>">
  <% if issues.length > 0 -%>
    <div class="dashboard-count">
      <span><%= l(:label_x_issues, :count => issues.length) %></span>
    </div>
  <% end -%>
  <% issues.each do |issue| -%>
    <div class="dashboard-issue drag-<%=group.id%><%= " dashboard-issue-overdue" if issue.overdue? %>" id="issue-<%=issue.id%>">
      <%= render :partial => "issue_#{@board.options[:view]}", :locals => { :issue => issue } %>
    </div>
  <% end -%>
</td>
