<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'dashboard', :plugin => 'redmine_dashboard_linked' %>
  <%= javascript_include_tag 'jquery.total-storage.js', :plugin => 'redmine_dashboard_linked' %>
  <%= javascript_include_tag 'dashboard', :plugin => 'redmine_dashboard_linked' %>
<% end %>

<div id="dashboard-origin">
	<%= render :partial => @board.id.to_s %>
</div>

<%= render :partial => 'footer' %>
