<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'dashboard', :plugin => 'redmine_dashboard' %>
  <%= javascript_include_tag 'move', :plugin => 'redmine_dashboard' %>
<% end %>

<h2>Dashboard</h2>

<div id="dashboard">
<%= render :partial => 'dashboard' %>
</div>

<div class="dashboard-priority-legend">
<% @priorities.each do |priority| %>
  <span class="dashboard-issue-priority priority-<%= priority.position %>"><%= priority %></span>
<% end %>
</div>
