/ ISSUE CARD
%div.rdb-card
  %div{:class => "rdb-priority rdb-priority-#{issue.priority.position}" }
    %header.rdb-card-header
      %div.rdb-card-title
        = render :partial => 'rdb_dashboard/issues/issue_menu', :locals => { :issue => issue }
      %div

    %div.rdb-card-progress
      %div.rdb-card-progress-bar{:style => "width: #{issue.done_ratio}%;" }

    %div.rdb-card-content
      %div.rdb-card-subject.rdb-property-subject= issue.subject
      = render :partial => 'rdb_dashboard/issues/issue_properties', :locals => { :issue => issue }
/ ISSUE CARD END
