/ ISSUE COMPACT
%div.rdb-compact
  %div{:class => "rdb-priority rdb-priority-#{issue.priority.position}" }

    %div.rdb-compact-progress
      %div.rdb-compact-progress-bar{:style => "width: #{issue.done_ratio}%;" }
    %header.rdb-compact-header
      %span.rdb-compact-title
        = render :partial => 'rdb_dashboard/issues/issue_menu', :locals => { :issue => issue }

      %div.rdb-compact-property.rdb-compact-tracker= issue.tracker
      - if issue.fixed_version
        %div.rdb-compact-property.rdb-compact-version= issue.fixed_version.name
      - if issue.assigned_to
        %div.rdb-compact-property.rdb-compact-assignee= issue.assigned_to.name
      - if issue.category
        %div.rdb-compact-property.rdb-compact-category= issue.category.name

    %div.rdb-compact-content
      %div.rdb-compact-subject.rdb-property-subject= issue.subject
/ ISSUE COMPACT END
