/ ISSUE COMPACT
%div.rdb-compact
  %div{:class => "rdb-priority rdb-priority-#{issue.priority.position}" }

    %div.rdb-compact-progress
      %div.rdb-compact-progress-bar{:style => "width: #{issue.done_ratio}%;" }
    %header.rdb-compact-header
      %div.rdb-compact-title
        = render :partial => 'rdb_dashboard/issues/issue_menu', :locals => { :issue => issue }
      %div.rdb-compact-header-data
        = render :partial => 'rdb_dashboard/issues/issue_properties', :locals => { :issue => issue }

    %div.rdb-compact-content
      %div.rdb-compact-subject.rdb-property-subject= issue.subject
/ ISSUE COMPACT END
