- render_rdb_menu :issue, @board.issue_id(issue), :small => true do
  - render_rdb_menu_list :title => t(:rdb_issue_menu_redmine_issue) do
    - render_rdb_menu_list_item do
      = link_to t(:rdb_issue_menu_show), issue_path(issue)
    - if @board.editable?
      - render_rdb_menu_list_item do
        = link_to t(:rdb_issue_menu_edit), edit_issue_path(issue)
      - if issue.assigned_to_id == User.current.id
        - render_rdb_menu_list_item :async => true do
          = link_to t(:rdb_issue_menu_unassigne_me), rdb_update_path(issue, :unassigne_me => true)
      - else
        - render_rdb_menu_list_item :async => true do
          = link_to t(:rdb_issue_menu_assigne_me), rdb_update_path(issue, :assigne_me => true)

  - if @board.editable?
    - if issue.assigned_to_id == User.current.id or User.current.admin?
      - render_rdb_menu_list :title => t(:rdb_issue_menu_progress_title), :async => true, :list_tag => :div do
        %ul.rdb-issue-menu-progress
          - [0, 20, 40].each do |value|
            %li= link_to t(:rdb_issue_menu_progress, :count => value), rdb_update_path(issue, :done_ratio => value)
        %ul.rdb-issue-menu-progress
          - [60, 80, 100].each do |value|
            %li= link_to t(:rdb_issue_menu_progress, :count => value), rdb_update_path(issue, :done_ratio => value)
