%div.rdb-issue{:class => "rdb-issue-#{@board.issue_view} #{@board.editable?('rdb-issue-drag')} #{issue.overdue? ? 'rdb-overdue' : ''}", :data => { :'rdb-drop-on' => @board.drop_on(issue), :'rdb-drop-group' => group.id, :'rdb-issue-id' => issue.id, :'rdb-lock-version' => issue.lock_version }}
  = render :partial => "rdb_dashboard/issues/#{@board.issue_view}", :locals => { :issue => issue }
