- content_for :header_tags do
  - plugin = Rails.env.development? ? 'redmine_dashboard_linked' : 'redmine_dashboard'
  = stylesheet_link_tag 'dashboard.css', :plugin => plugin
  = stylesheet_link_tag 'dashboard.ui.css', :plugin => plugin
  = stylesheet_link_tag 'dashboard.issues.css', :plugin => plugin
  = stylesheet_link_tag 'dashboard.taskboard.css', :plugin => plugin
  = javascript_include_tag 'jquery.autoellipsis.js', :plugin => plugin
  = javascript_include_tag 'jquery.total-storage.js', :plugin => plugin
  = javascript_include_tag 'dashboard.js', :plugin => plugin
  = javascript_include_tag 'dashboard.ui.js', :plugin => plugin
  = javascript_include_tag 'dashboard.taskboard.js', :plugin => plugin
  = javascript_include_tag 'jquery.ui.js', :plugin => plugin

#rdb{:data => { :'rdb-base' => rdb_board_path }}
  #rdb-wrapper
    #rdb-header
    #rdb-board
      #rdb-loading

  #rdb-errors
  #rdb-dialogs
  = render :partial => 'footer'
